<!doctype html>
<html>
  <script src="{{url_for('static', filename='jquery.js')}}"></script>
   <body>
     <div id="gradeHolder"></div>
      <script >
        var grades={{ grades | tojson }}


        function encodeCSS(name) {//https://stackoverflow.com/questions/7627000/javascript-convert-string-to-safe-class-name-for-css
          return name.replace(/[^a-z0-9]/g, function(s) {
              var c = s.charCodeAt(0);
              if (c == 32) return '-';
              if (c >= 65 && c <= 90) return '_' + s.toLowerCase();
              return '__' + ('000' + c.toString(16)).slice(-4);
          });
      }


        for(course in grades){
          
          $("#gradeHolder").append("<table class='gradeTable' id='"+encodeCSS(course)+"'></table>")
          $("#"+encodeCSS(course)).append("<th><h3>"+course+"</h3></th>")
          for(assignment in grades[course]){

            //string="<tr><td>"+grades[course][assignment].name+"</td>"+"<td>"+grades[course][assignment].rawScore+"</td></tr>"

            //Show random grades for presentation
            if(grades[course][assignment].totalPoints!="null"){
              string="<tr><td>"+grades[course][assignment].name+"</td>"+"<td>"+Math.floor(Math.random()*grades[course][assignment].totalPoints)+"/"+grades[course][assignment].totalPoints+"</td></tr>"
            }
            

            $("#"+encodeCSS(course)).append(string)
          }
        }
      </script>

   </body>
   <style>
   tr{
     border:5px solid black;
   }
   table{
     display: inline-block;
     border:5px solid black;
     vertical-align:top;
   }
   </style>
</html>
